<ion-header>
  <div class="title-bar">
    <button ion-fab class="back-btn" (click)="onGoBack()">
      <ion-icon name="ios-undo"></ion-icon>
    </button>
    <button ion-fab class="back-btn" (click)="onGoToRegisterDoctor()">
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="art-container">
    <img class="art1" src="assets/imgs/home-art2.png" alt="art">
    <img class="art2" src="assets/imgs/home-art.png" alt="art">
  </div>
  <div class="page-title">
    <h1 text-center margin-bottom>Account</h1>
    <div class="account-title">
      <ion-thumbnail> 
        <div *ngIf="shared.loggedUser.avatar == null">
          <img style="width: 100px;" src="assets/imgs/invis-user.png"/>
        </div>  
        <div *ngIf="shared.loggedUser.avatar != null">
          <img style="width: 100px;" [src]="shared.loggedUser.avatar"/>
        </div> 
      </ion-thumbnail>
      <h2>{{shared.loggedUser.first_name}}</h2>
    </div>
  </div>

  <div class="page-content">
    <ion-grid padding>
      <ion-row *ngIf="shared.loggedUser.first_name || shared.loggedUser.last_name">
        <ion-col col-4>
          NAME
        </ion-col>
        <ion-col col-8>
          {{shared.loggedUser.first_name}} {{shared.loggedUser.last_name}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="shared.loggedUser.age">
        <ion-col col-4>
          AGE
        </ion-col>
        <ion-col col-8>
          {{shared.loggedUser.age}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="shared.loggedUser.gender">
        <ion-col col-4>
          GENDER
        </ion-col>
        <ion-col col-8>
          {{shared.loggedUser.gender}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="shared.loggedUser.date_of_birth">
        <ion-col col-4>
          DATE OF BIRTH
        </ion-col>
        <ion-col col-8>
          {{shared.loggedUser.date_of_birth}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="shared.loggedUser.info">
        <ion-col col-4>
          INFO
        </ion-col>
        <ion-col col-8>
          {{shared.loggedUser.info}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          History
        </ion-col>
        <ion-col col-8>
          <div>DOCTOR MOHAMED</div>
          <div>DOCTOR MOHAMED</div>
          <div>DOCTOR MOHAMED</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          History
        </ion-col>
        <ion-col col-8>
          <div>DOCTOR MOHAMED</div>
          <div>DOCTOR MOHAMED</div>
          <div>DOCTOR MOHAMED</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <div class="nav-bar">
    <div class="bar-inner">
      <button ion-button class="nav-btn left-btn" (click)="onGoToTickets()">
        <!--<ion-icon name="home"></ion-icon>-->
        <!--<img src="assets/imgs/ticket.png" alt="tickets-icon">-->
        <div class="btn-img"></div>
      </button>
      <button ion-button class="nav-btn center-btn">
        <!--<ion-icon name="home"></ion-icon>-->
        <!--<img src="assets/imgs/home-icon-silhouette.png" alt="home-icon">-->
        <div class="btn-img"></div>
      </button>
      <button ion-button class="nav-btn right-btn" (click)="onGoToHomePage()">
        <!--<ion-icon name="home"></ion-icon>-->
        <!--<img src="assets/imgs/round-account-button-with-user-inside.png" alt="account-icon">-->
        <div class="btn-img"></div>
      </button>
    </div>
  </div>
</ion-footer>
